/*
Custom version of:
https://github.com/pakastin/deck-of-cards/blob/master/example/example.css
see licence: https://github.com/pakastin/deck-of-cards/blob/master/LICENSE
*/

.card {
  position: relative;
  width: 3.875rem;
  height: 5.5rem;
  background-color: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  cursor: default;
}
.card:before,
.card:after {
  position: absolute;
  font-size: 0.7rem;
  text-align: center;
  line-height: 0.7rem;
  font-family: "Ubuntu Condensed", sans-serif;
  white-space: pre-line;
  width: 0.55rem;
  letter-spacing: -0.1rem;
}
.card:before {
  top: 0.15rem;
  left: 0;
}
.card:after {
  bottom: 0.1rem;
  right: 0;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.card .face {
  height: 100%;
  background-position: 50% 50%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.card {
  color: white;
  background-image: linear-gradient(45deg, #fff, #ccc, 35%);
}
.card.joker,
.card.joker-rare {
  color: #c0c0c0;
  text-shadow: 0px 0px 1px #bf953f;
}
.card.joker:before,
.card.joker:after {
  content: "R\a A\a R\a E";
  letter-spacing: 0;
  font-size: 0.4rem;
  line-height: 0.4rem;
  padding: 0.15rem 0.05rem;
  width: 0.5rem;
}

.card.joker-rare:before,
.card.joker-rare:after {
  content: "U\a L\a T\a R\a A";
  letter-spacing: 0;
  font-size: 0.4rem;
  line-height: 0.4rem;
  padding: 0.15rem 0.05rem;
  width: 0.5rem;
}
.card:before,
.card:after {
  content: url(/assets/img/favicon.png);
}
/* ======== STANDARD CARDS */
.card.Ben.standard .face {
  background-image: url("/assets/img/cardfaces/2_1.svg");
}
.card.Cruz.standard .face {
  background-image: url("/assets/img/cardfaces/2_3.svg");
}
.card.Tanner.standard .face {
  background-image: url("/assets/img/cardfaces/2_4.svg");
}
.card.John.standard .face {
  background-image: url("/assets/img/cardfaces/2_2.svg");
}
.card.Jeremy.standard .face {
  background-image: url("/assets/img/cardfaces/2_9.svg");
}
.card.Mike.standard .face {
  background-image: url("/assets/img/TCLogoOnly.png");
  background-size: contain;
}
.card.Denise.standard .face {
  background-image: url("/assets/img/cardfaces/2_5.svg");
}
.card.Michael.standard .face {
  background-image: url("/assets/img/cardfaces/2_8.svg");
}
.card.Martin.standard .face {
  background-image: url("/assets/img/cardfaces/TrueCodersLogo.png");
  background-size: contain;
}
.card.Whit.standard .face {
  background-image: url("/assets/img/cardfaces/2_7.svg");
}
.card.Hampton.standard .face {
  background-image: url("/assets/img/cardfaces/2_6.svg");
}
/* =========== BRONZE CARDS */
.card.Ben.bronze .face {
  background-image: url("/assets/img/cardfaces/ben-headshot_sm.svg");
}
.card.Cruz.bronze .face {
  background-image: url("/assets/img/cardfaces/cruz-headshot.svg");
}
.card.Tanner.bronze .face {
  background-image: url("/assets/img/cardfaces/tanner-headshot.svg");
}
.card.John.bronze .face {
  background-image: url("/assets/img/cardfaces/john-headshot.svg");
}
.card.Jeremy.bronze .face {
  background-image: url("/assets/img/cardfaces/jeremy-headshot.svg");
}
.card.Mike.bronze .face {
  background-image: url("/assets/img/cardfaces/mike-headshot.svg");
}
.card.Denise.bronze .face {
  background-image: url("/assets/img/cardfaces/denise-headshot.svg");
}
.card.Michael.bronze .face {
  background-image: url("/assets/img/cardfaces/michael-headshot.svg");
}
.card.Martin.bronze .face {
  background-image: url("/assets/img/cardfaces/martin-headshot.svg");
}
.card.Whit.bronze .face {
  background-image: url("/assets/img/cardfaces/whit-headshot.svg");
}
.card.Hampton.bronze .face {
  background-image: url("/assets/img/cardfaces/hampton-headshot.svg");
}
/* ========== SILVER CARDS */
.card.Ben.silver .face {
  background-image: url("/assets/img/cardfaces/ben-headshot_sm.svg");
}
.card.Cruz.silver .face {
  background-image: url("/assets/img/cardfaces/cruz-headshot.svg");
}
.card.Tanner.silver .face {
  background-image: url("/assets/img/cardfaces/tanner-headshot.svg");
}
.card.John.silver .face {
  background-image: url("/assets/img/cardfaces/john-headshot.svg");
}
.card.Jeremy.silver .face {
  background-image: url("/assets/img/cardfaces/jeremy-headshot.svg");
}
.card.Mike.silver .face {
  background-image: url("/assets/img/cardfaces/mike-headshot.svg");
}
.card.Denise.silver .face {
  background-image: url("/assets/img/cardfaces/denise-headshot.svg");
}
.card.Michael.silver .face {
  background-image: url("/assets/img/cardfaces/michael-headshot.svg");
}
.card.Martin.silver .face {
  background-image: url("/assets/img/cardfaces/martin-headshot.svg");
}
.card.Whit.silver .face {
  background-image: url("/assets/img/cardfaces/whit-headshot.svg");
}
.card.Hampton.silver .face {
  background-image: url("/assets/img/cardfaces/hampton-headshot.svg");
}
/* ========== GOLD CARDS */
.card.Ben.gold .face {
  background-image: url("/assets/img/cardfaces/ben-gold.svg");
}
.card.Cruz.gold .face {
  background-image: url("/assets/img/cardfaces/cruz-gold.svg");
}
.card.Tanner.gold .face {
  background-image: url("/assets/img/cardfaces/tanner-gold.svg");
}
.card.John.gold .face {
  background-image: url("/assets/img/cardfaces/john-gold.svg");
}
.card.Jeremy.gold .face {
  background-image: url("/assets/img/cardfaces/jeremy-gold.svg");
}
.card.Mike.gold .face {
  background-image: url("/assets/img/cardfaces/TrueCodersLogo.png");
  background-size: contain;
}
.card.Denise.gold .face {
  background-image: url("/assets/img/cardfaces/denise-gold.svg");
}
.card.Michael.gold .face {
  background-image: url("/assets/img/cardfaces/michael-gold.svg");
}
.card.Martin.gold .face {
  background-image: url("/assets/img/cardfaces/gold-a.svg");
}
.card.Whit.gold .face {
  background-image: url("/assets/img/cardfaces/whit-gold.svg");
}
.card.Hampton.gold .face {
  background-image: url("/assets/img/cardfaces/hampton-gold.svg");
}
/* ========== ROYAL CARDS */
.card.Ben.royal .face {
  background-image: url("/assets/img/cardfaces/ganondorf.svg");
}
.card.Cruz.royal .face {
  background-image: url("/assets/img/cardfaces/mega-man.svg");
}
.card.Tanner.royal .face {
  background-image: url("/assets/img/cardfaces/joker-smash.webp");
}
.card.John.royal .face {
  background-image: url("/assets/img/cardfaces/bowser.svg");
}
.card.Jeremy.royal .face {
  background-image: url("/assets/img/cardfaces/captain-falcon.svg");
}
.card.Mike.royal .face {
  background-image: url("/assets/img/cardfaces/mario.svg");
}
.card.Denise.royal .face {
  background-image: url("/assets/img/cardfaces/luigi.webp");
}
.card.Michael.royal .face {
  background-image: url("/assets/img/cardfaces/rob.svg");
}
.card.Martin.royal .face {
  background-image: url("/assets/img/cardfaces/donkey-kong.svg");
}
.card.Whit.royal .face {
  background-image: url("/assets/img/cardfaces/banjo.webp");
}
.card.Hampton.royal .face {
  background-image: url("/assets/img/cardfaces/purple.svg");
}
.card.joker.a .face {
  background-image: url("/assets/img/cardfaces/4_1.svg");
}
.card.joker.b .face {
  background-image: url("/assets/img/cardfaces/4_2.svg");
}
.card.joker.c .face {
  background-image: url("/assets/img/cardfaces/4_3.svg");
}
.card.joker.d .face {
  background-image: url("/assets/img/cardfaces/TrueCodersLogo.png");
  background-size: contain;
}

.royal {
  background: linear-gradient(
    to right,
    #7851a9,
    #9b6dff,
    /* #b38728, */ #cbc3e3,
    #663399
  );
}
/* Gold */
.gold {
  background: linear-gradient(
    to right,
    #bf953f,
    #fcf6ba,
    /* #b38728, */ #fcf5b7,
    #aa771c
  );
}

/* Silver */
.silver {
  background: linear-gradient(
    to right,
    #c0c0c0,
    #d3d3d3,
    /* #b38728, */ #d7d7d7,
    #aaa9ad
  );
}

/* Bronze */
.bronze {
  background: linear-gradient(
    to right,
    #6c541e,
    #cd7f32,
    /* #b38728, */ #a57164,
    #8c7853
  );
}

.card.joker {
  background: linear-gradient(
    to bottom right,
    #bf953f,
    #f79533,
    tomato,
    #fcf5b7,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82,
    #aa771c
  );
}

.card.joker-rare:hover {
  animation: none;
}

.card.joker-rare {
  animation: bg-animation 0.5s infinite linear;
  background: radial-gradient(ellipse at top, #bf953f, #fcf5b7, #a166ab),
    radial-gradient(ellipse at bottom, #1098ad, #07b39b, #6fba82);
}

.card.joker-rare.a .face {
  background-image: url("/assets/img/cardfaces/2222.svg");
}

.card.joker-rare.b .face {
  background-image: url("/assets/img/cardfaces/burlywood.svg");
}

.card.joker-rare.c .face {
  background-image: url("/assets/img/cardfaces/zelda.png");
}

.card.joker-rare.d .face {
  background-image: url("/assets/img/cardfaces/image.svg");
}

/* @keyframes bg-animation {
  0% {
    background: radial-gradient(ellipse at top, #bf953f, #fcf5b7, #a166ab),
      radial-gradient(ellipse at bottom, #1098ad, #07b39b, #6fba82);
  }
  25% {
    background: radial-gradient(ellipse at top, #6fba82, #bf953f, #fcf5b7),
      radial-gradient(ellipse at bottom, #a166ab, #1098ad, #07b39b);
  }
  50% {
    background: radial-gradient(ellipse at top, #07b39b, #6fba82, #bf953f),
      radial-gradient(ellipse at bottom, #fcf5b7, #a166ab, #1098ad);
  }
  75% {
    background: radial-gradient(ellipse at top, #1098ad, #07b39b, #6fba82),
      radial-gradient(ellipse at bottom, #bf953f, #fcf5b7, #a166ab);
  }
  100% {
    background: radial-gradient(ellipse at top, #bf953f, #fcf5b7, #a166ab),
      radial-gradient(ellipse at bottom, #1098ad, #07b39b, #6fba82);
  }
} */

@keyframes bg-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-3deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(3deg);
  }
  40% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(3deg);
  }
  80% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(3deg);
  }
}
