/*
Custom version of:
https://github.com/pakastin/deck-of-cards/blob/master/example/example.css
see licence: https://github.com/pakastin/deck-of-cards/blob/master/LICENSE
*/

.card {
  position: relative;
  width: 3.875rem;
  height: 5.5rem;
  background-color: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  cursor: default;
}
.card:before,
.card:after {
  position: absolute;
  font-size: 0.7rem;
  text-align: center;
  line-height: 0.7rem;
  font-family: "Ubuntu Condensed", sans-serif;
  white-space: pre-line;
  width: 0.55rem;
  letter-spacing: -0.1rem;
}
.card:before {
  top: 0.15rem;
  left: 0;
}
.card:after {
  bottom: 0.1rem;
  right: 0;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.card .face {
  height: 100%;
  background-position: 50% 50%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.card {
  color: white;
  background-image: linear-gradient(45deg, #fff, #ccc, 35%);
}
.card.joker:before,
.card.joker:after,
.card.joker-rare:before,
.card.joker-rare:after {
  content: "J\a O\a K\a E\a R";
  letter-spacing: 0;
  font-size: 0.4rem;
  line-height: 0.4rem;
  padding: 0.15rem 0.05rem;
  width: 0.5rem;
}
.card:before,
.card:after {
  content: url(/assets/img/favicon.png);
}
.card.Ben .face {
  background-image: url("/assets/img/cardfaces/ben-headshot_sm.svg");
}
.card.Cruz .face {
  background-image: url("/assets/img/cardfaces/cruz-headshot.svg");
}
.card.Tanner .face {
  background-image: url("/assets/img/cardfaces/tanner-headshot.svg");
}
.card.John .face {
  background-image: url("/assets/img/cardfaces/john-headshot.svg");
}
.card.Jeremy .face {
  background-image: url("/assets/img/cardfaces/jeremy-headshot.svg");
}
.card.Mike .face {
  background-image: url("/assets/img/cardfaces/mike-headshot.svg");
}
.card.Denise .face {
  background-image: url("/assets/img/cardfaces/denise-headshot.svg");
}
.card.Michael .face {
  background-image: url("/assets/img/cardfaces/michael-headshot.svg");
}
.card.Martin .face {
  background-image: url("/assets/img/cardfaces/martin-headshot.svg");
}
.card.Whit .face {
  background-image: url("/assets/img/cardfaces/whit-headshot.svg");
}
.card.Hampton .face {
  background-image: url("/assets/img/cardfaces/hampton-headshot.svg");
}
.card.joker .face {
  background-image: url("/assets/img/cardfaces/john-headshot.svg");
}
.card.joker-rare .face {
  background-image: url("/assets/img/cardfaces/image.svg");
}

.rank30 {
  background: linear-gradient(
    to right,
    #7851a9,
    #9b6dff,
    /* #b38728, */ #cbc3e3,
    #663399
  );
}
/* Gold */
.rank27,
.rank28,
.rank29 {
  background: linear-gradient(
    to right,
    #bf953f,
    #fcf6ba,
    /* #b38728, */ #fcf5b7,
    #aa771c
  );
}

/* Silver */
.rank23,
.rank24,
.rank25,
.rank26 {
  background: linear-gradient(
    to right,
    #c0c0c0,
    #d3d3d3,
    /* #b38728, */ #d7d7d7,
    #aaa9ad
  );
}

/* Bronze */
.rank16,
.rank17,
.rank18,
.rank19,
.rank20,
.rank21,
.rank22 {
  background: linear-gradient(
    to right,
    #6c541e,
    #cd7f32,
    /* #b38728, */ #a57164,
    #8c7853
  );
}

.card.joker {
  background: linear-gradient(
    to bottom right,
    tomato,
    orange,
    yellow,
    royalblue,
    #663399
  );
}
